<!DOCTYPE html>
<html>
{{>head}}

<body>

    {{>hero}}
    <section class="section">
        <div class="container narrow">
            {{>about}}
            <br>
            <!-- post content -->
            {{#each this}}
            <p class="has-text-grey-light">{{this.time}}</p>
            <a href="{{this.url}}.html" class="title primary-text">> {{this.title}}</a>

            <p>{{this.intro}}</p>
            <br>
            <div class="has-text-right">
                <a href="{{this.url}}.html" class="button primary-text">Read more</a>
            </div>
            <br>
            <br> {{/each}}

            <!-- post content -->

        </div>
    </section>
    {{>footer}}
</body>

</html>