<!DOCTYPE html>
<html>
{{>head}}

<body>
    {{>hero}}
    <section class="section">
        <div class="container narrow">
            <!-- post content -->
            <h1 class="title has-text-centered primary-text">{{title}}</h1>
            <p>{{intro}}</p>
<br>
            <div class="has-text-centered">
            <br>
                <img class="article-image" src="{{image}}">
                <br> {{{image_contribution}}}
            </div>
            {{{content}}}
            <!-- post content -->
        </div>
    </section>
    {{>footer}}
</body>

</html>